# Application
requests
beautifulsoup4
click
matplotlib
jsonschema

# Linting
black
isort
flake8
flake8-bugbear
flake8-docstrings

# Type hints
mypy
types-requests
types-beautifulsoup4
types-jsonschema

# This stubs package is deprecated as pandas/numpy/etc are adding stubs
# to the main packages. We'll keep using it for now.
# https://github.com/wearepal/data-science-types
data-science-types

# Testing
pytest
pytest-socket
factory-boy
responses
time-machine
